//values
- var width = 600;
- var bgColor = '#f2f2f2';
- var bgColor__body = '#ffffff';
- var txtColor = 'color:#444444;';
- var ff = 'font-family:sans-serif;';
- var fz = 'font-size:15px;';

//utility
- var cellReset = 'border="0" cellpadding="0" cellspacing="0"';

//content
- var wrapperTxt = txtColor + ff + fz + 'line-height:150%; text-align:left';
- var basicTxt = ff + fz + 'line-height:1.5em;' + txtColor;
- var sizeAdjust = '-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; mso-table-lspace:0pt; mso-table-rspace:0pt;';
- var contentStyle = basicTxt + 'width:100.0%; text-align:left; padding:0;' + basicTxt;
